
#log:hover{
	color: white;
	cursor: pointer;
  font-weight: bold;
  font-size: 20px

}

#log{
  padding: 10px;
  font-size: 18px;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
  width: 20%;
}
.input-group{
  margin: 20px 20px 20px 20px;

}
.input-group input{
  height: 30px;
  width: 93%;
  padding: 5px 10px;
  border-radius: 5px;
  border: 1px solid gray;
}

#short{
  width: 50%;
  padding: 20px;
}