body{
background-color: aliceblue;
}

div.style{
	max-width: 100%;
	padding: 20px;
	border: 10px solid #B0C4DE;
	border-radius: 10px 10px 10px 10px;
}

* {

	box-sizing: border-box;
}

form.look input[type=text]{

	padding: 10px;
	font-size: 17px;'
    border: 1px solid grey;
    float: left;
    max-width: 100%;
    background: #f1f1f1;
    height: 50px;
    border-radius: 5px;
}


form.look button{

	padding: 10px;
  font-size: 18px;
  background: whitesmoke;
  border: none;
  border-radius: 5px;
  width: 5px
}

form.look button:hover{
	background: #5F9EA0;
	 cursor: pointer;
}
#pic{
	width: 30px;
	height: 30px;
	border-radius: 50%;
}

#h1{
	text-align: center;
}
.input-group{
	margin: 10px 10px 10px 10px;
  max-width: 100%;
}

.input-group label{
	display: block;
	text-align: left;
	margin: 3px;
	font-size: 20px;
}
.input-group input{
	height: 30px;
	max-width: 100%;
	
	border-radius: 8px;
	border: 1px solid gray;
}

#td{
	height: 30px;
	width: 40%;
	
	border-radius: 5px;
	border: 1px solid gray;
	text-align: center;
	margin-left: 50px;
}

td{
	border: none;
}
caption{
	font-weight: bold;
	font-size: 25px;
}
th{
	border: none;
	color: purple;
}

#ingp{
	height: 30px;
	width: 100%;
	
	border-radius: 8px;
	border: 1px solid gray;
}

a{
	text-decoration: none;
	color: blue;
}
h6{
	color: grey;
}

nav{
	background-color: whitesmoke;
	border-radius: 5px;
}

#style{
max-width: 100%;
	padding: 20px;
	border: 10px solid #B0C4DE;
	border-radius: 10px 10px 10px 10px;
	background-color: whitesmoke;

}

#log:hover{
	color: white;
	cursor: pointer;
  font-weight: bold;
  font-size: 20px

}

#log{
  padding: 10px;
  font-size: 18px;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
  width: 25%;
}
}

#dtb:hover{
	color: white;
	cursor: pointer;
  font-weight: bold;
  font-size: 20px

}

#dtb{
  padding: 10px;
  font-size: 18px;
  background: #5F9EA0;
  border: none;
  border-radius: 5px;
  width: 9%;
  color: white;
}
.fa {
  padding: 20px;
  font-size: 30px;
  width: 10px;
  height: 10px;
  text-align: center;
  text-decoration: none;
  border-radius: 5px;
  padding: 10px;
}

/* Add a hover effect if you want */
.fa:hover {
  opacity: 0.7;
}

/* Facebook */
.fa-facebook {
  background: #3B5998;
  color: white;
}

/* Twitter */
.fa-twitter {
  background: #55ACEE;
  color: white;
}


/* Smartphones (portrait and landscape) ----------- */
@media only screen
and (min-device-width : 320px)
and (max-device-width : 480px) {
/* Styles */
}

/* Smartphones (landscape) ----------- */
@media only screen
and (min-width : 321px) {
/* Styles */
}

/* Smartphones (portrait) ----------- */
@media only screen
and (max-width : 320px) {
/* Styles */
}
